.menu{
    color: black;
    align-content: space-around;
    font-family:  'Oswald', sans-serif;
    font-size: 35px;
    margin-left: 90px;
}
.menu button{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    background-color: white;
    border: none;
}
.menu ul{
    align-content: space-around;
    display: inline-block;
}
.menu li{
    display: inline-block;
    flex-direction: column;
}
.optionsBar{
    visibility: hidden;
}
.inicio{
    color:greenyellow;
}
.cuadro{
    background-color: greenyellow;
    width: 94rem;
    display: inline-block;
    align-content:center;
    font-family: 'Oswald', sans-serif;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.textoSobrePuesto{
    background-color: white;
    position: absolute;
    top: 83%;
    left: 13%;
    transform: translate(-50%, -50%);
}
.carta{
    position:relative;
    align-content: space-around;
    flex-direction: row;
    display: inline-block;
    margin-left: 90px;
}
.carta h2{
    color: white;
}
.backToInicio{
    background-color: #60C5F9;
    border-radius: 50%;
    right: 16px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.verMas{
    font-family: 'Oswald', sans-serif;
    padding: 2rem;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-left: 90px;
    background-color: white;
    color: #323433;
}