@media screen and (max-width: 400px) {
    .menu{
        font-size: 20px;
    }
    .optionsBar{
        visibility: visible;
    }
    .options{
        visibility: hidden;
    }
    .carta p{
        color: white;
        
    }
    .cuadro{
        width: 100%;
        text-align: center;
    }
}